/HyperJob Agency/task/hstest/
/HyperJob Agency/Authentication/
/HyperJob Agency/Creating models/
/HyperJob Agency/Creating new vacancies and resumes/
/HyperJob Agency/Main menu/
/.idea/
/HyperJob Agency/lesson-info.yaml
/course-remote-info.yaml
/HyperJob Agency/Vacancies and resumes pages/
/course-info.yaml
/test_helper.py
